<menu-comp></menu-comp>
<div id="firstDivAddEditList" class ="MainContent form-horizontal">

	<div class="pageTitle">
		<span>Assets</span>
		<!-- <button id='add' class='btn btn-primary' routerLink="/assets/add">Add New</button> -->
	  		<button id='search' class='btn btn-info' routerLink="/assets/search">Search</button>
  </div>
 
<!--  <div class="form-group">
 	<div id="filter" class="col-md-3">
  		<label>Asset Type</label></div>
		<div class="col-md-4">
			<select class="form-control" ng-model="selectedType" ng-options="">
			<option value="computer">Vehicle</option>
			<option value="computer">Vehicle</option>
      		<option value="computer">Computer</option>
			</select>
		</div>
	</div>
 -->
	<div id ="table">
	<table class="table" *ngIf="assets">
	<tr>
		<th>Name</th>
		<th>Vendor</th>
		<th>Asset Cost</th>
		<th>Purchase Order Number</th>
		<th>Location</th>
		<th>PhotoPath</th>
		<th>Actions</th>
	</tr>
	<tr *ngFor="let asset of assets">
		<td>{{asset.Name}}</td>
		<td>{{asset.Vendor}}</td>
		<td>{{asset.AssetCost}}</td>
		<td>{{asset.PurchaseOrderNumber}}</td>
		<td>{{asset.Location.Name}}</td>
		<td>{{asset.PhotoPath}}</td>
		<td>
			<a routerLink="/assets/detail/{{asset.Id}}">Detail/Edit</a>
		</td>
	</tr>
	</table>

	</div>
</div>
