<menu-comp></menu-comp>
<div id="firstDivAddEditList" class ="MainContent form-horizontal">

	<div class="pageTitle">
		<span>Assets</span>
	  		<button id='search' class='btn btn-info' routerLink="/assets/search">Search</button>
	  		 	<!-- binds variable "type" to value of select; then calls filterAssets() when "type" changes-->
 <div class="form-group">
 	<div id="filter" class="col-md-3">
 		<label class='col-md-3  control-label' for="filter">Filter</label>
		<div class="col-md-8">
				<!-- [(ngModel)] stores value of selected option inside variable "type" -->
				<!-- events like (change) and (onClick) go inside parentheses-->
			<select id="filter" class="form-control" [(ngModel)]="type" (change)="filterAssets()">
			<option value="">All</option> <!-- when type="" is passed, all data is displayed -->
			<option value="Vehicle">Vehicles</option>
      		<option value="Computer">Computers</option>
			</select>
		</div>
	</div>
	</div></div>

	<div id ="table">
	<table class="table" *ngIf="assets">
	<tr>
		<th>Name</th>
		<th>Vendor</th>
		<th>Asset Cost</th>
		<th>Purchase Order Number</th>
		<th>Location</th>
		<th>PhotoPath</th>
		<th>Actions</th>
	</tr>
	<tr *ngFor="let asset of assets">
		<td>{{asset.Name}}</td>
		<td>{{asset.Vendor}}</td>
		<td>{{asset.AssetCost}}</td>
		<td>{{asset.PurchaseOrderNumber}}</td>
		<td>{{asset.Location.Name}}</td>
		<td>{{asset.PhotoPath}}</td>
		<td>
			<a routerLink="/assets/detail/{{asset.Id}}">Detail/Edit</a>
		</td>
	</tr>
	</table>

	</div>
</div>
