
#table {
	margin: 30px;
	margin-top: 15px;
}

#firstDivAddEditList { 
	margin-left: auto;
	margin-right:auto;
	margin-top: 10px;
}


body {
	font-size: 14pt;
}

#addEditForm { 
	text-align: left;
	display: inline-block;
	width: 40%; 
	padding: 30px 30px 0 0; 
	border: 1px solid silver; 
}

#addEditForm2Columns { 
	text-align: left;
	display: inline-block;
	width: 80%; 
	padding: 30px 30px 0 0; 
	border: 1px solid silver; 
}


.addEditDiv {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right:auto;
	margin-top: 5px;
}

.pageTitle {
	text-align: center;

}

div.pageTitle span {

	font-size: 35pt;
}

div.pageTitle button {
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}


#loginDiv  {
	width:28%; 
	border: 1px solid silver; 
	margin: 0 auto; 
	padding: 10px 0;
}

#loginText {
	font-size: 25pt;
}

#welcomeText {
	font-size: 35pt;
	text-align: center;
}

.loginInputs {

    display: block; 
    width: 300px;
    margin: auto 0 auto;
}

.filter {
	display: inline;
	float: left;
	margin-top: 10px;
}

.threeDivs {
	display: inline-block;
	width: 33%;
}

#centerDivAssetList {
	text-align: center;
	display: block; 
  width: 300px;
  margin: auto 0 auto;

}