<div>

	<div>
		<span class="PageTitle">Asset Detail</span>
		<span class="CreateNew"><a routerLink="/assets/add">Add New</a></span>
	</div>

	<div *ngIf="asset">
		<table class="table">
			<tr><th> Name</th><td>{{asset.Name}}</td></tr>
			<tr *ngIf="asset.Location"><th>Location</th><td>{{asset.Location.Name}}</td></tr>
			<tr><th> Vendor</th><td>{{asset.Vendor}}</td></tr>			
			<tr><th> AssetCost</th><td>{{asset.AssetCost}}</td></tr>
			<tr><th> Unit</th><td>{{asset.Unit}}</td></tr>
			<tr><th> PhotoPath</th><td>{{asset.PhotoPath}}</td></tr>
			<tr *ngIf="asset.Type == 'Vehicle'"><th>VIN</th><td>{{asset.Vehicle.VIN}}</td></tr>
			<tr *ngIf="asset.Type == 'Vehicle'"><th>Make</th><td>{{asset.Vehicle.Make}}</td></tr>
			<tr *ngIf="asset.Type == 'Vehicle'"><th>Model</th><td>{{asset.Vehicle.Model}}</td></tr>	

		</table>
	</div>
	
	<div class="text-center">
		<button (click)='update()' id='update' class='col-md-aa col-md-offset-1 btn btn-warning'>Update</button> | 
		<button class="btn btn-danger" (click)="remove()">Delete</button>
	</div>

</div>