<!-- <app-menu></app-menu> -->
<div class="MainContent form-horizontal">

	<div><span class="PageTitle">Vehicle Add</span></div>

	<div style="text-align: center;">

	<form *ngIf="vehicle" style="display: inline-block; width: 70%; padding: 30px 30px 0 0; border: 1px solid silver;">

	<div class='form-group' >
		<label class='col-md-3  control-label' for="vehicle-make">Make</label>
		<div class='col-md-9'>
			<input class='form-control' name='Make' type='text' id='vehicle-make' 
				[(ngModel)]='vehicle.Make' placeholder="Make">
		</div>
	</div>

	<div class='form-group' >
		<label class='col-md-3  control-label' for="vehicle-model">Model</label>
		<div class='col-md-9'>
			<input class='form-control' name='Model' type='text' id='vehicle-model' 
				[(ngModel)]='vehicle.Model' placeholder="Model">
		</div>
	</div>

	<div class='form-group' >
		<label class='col-md-3  control-label' for="vehicle-vin">VIN</label>
		<div class='col-md-9'>
			<input class='form-control' name='VIN' type='text' id='vehicle-vin' 
				[(ngModel)]='vehicle.VIN' placeholder="VIN">
		</div>
	</div>

	<div class='form-group'>
		<button (click)='add()' id='add' class='col-md-11 col-md-offset-1 btn btn-primary'>Add</button>
	</div>

	<div class='form-group' >
		<label class='col-md-10 col-md-offset-1 text-left'>{{message}}&nbsp;</label>
	</div>

	</form>

	</div>
</div>